* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

article {
	margin: 50px auto;
	width: 825px;
	border: 4px solid #000;
	position: relative;
}

.sale {
	display: inline-block;
	position: absolute;
	background-color: #ec2f2f;
	padding: 7px 15px;
	text-transform: uppercase;
	top: -17px;
	left: -38px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
}

.container {
	display: flex;
	gap: 40px;
}

/* Product */
.product-title {
	font-size: 22px;
	background-color: #f7f7f7;
	text-transform: uppercase;
	text-align: center;
	padding: 15px;
}

img {
	flex: 1;
}

/* Product Info */
.info {
	flex: 1;
	margin-top: 20px;
}

.con {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.rate {
	font-size: 24px;
}

.shipping {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #777;
}

.prod-info {
	clear: both;
	line-height: 1.5;
	margin-bottom: 15px;
}

a:link,
a:visited {
	color: #000;
}

a:hover,
a:active {
	text-decoration: none;
}

.colors {
	margin-top: 30px;
	display: flex;
	gap: 10px;
}

.color {
	width: 22px;
	height: 22px;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #2f6ee2;
}

.red {
	background-color: #ec2f2f;
}

.yellow {
	background-color: #f0bf1e;
}

.green {
	background-color: #90cc20;
}

.brown {
	background-color: #885214;
}

/* Product Details */
.details {
	flex: 1;
	margin-top: 20px;
}

h4 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}

ul {
	list-style: square;
	line-height: 1.4;
	margin-left: 20px;
}

li {
	margin-bottom: 10px;
}

/* Button */
.add-cart {
	color: #fff;
	background-color: #000;
	border: none;
	border-top: 4px solid #000;
	font-size: 20px;
	text-transform: uppercase;
	width: 100%;
	padding: 15px;
	cursor: pointer;
}

.add-cart:hover {
	color: #000;
	background-color: #fff;
}
